body{
    background-color: gray;
}
img{
    width: 200px;
    height:250px;
    position: absolute;
}
.banner{
    border:4px solid brown;
    width: 100vh;
    height: 100vh;
    padding: 15px;
    position: relative;
}
.one {
    top: 0;
    left: 0;
}
.two{
    top: 10%;
    left: 10%;

}
.three{
    top: 20%;
    left: 20%;
    z-index: 0;

}
.four{
    top: 30%;
    left: 30%;

}